{% extends "layout.twig" %}
{% block title %}Registration Succeeded{% endblock %}
{% block body %}
    <div class="w3-row">
        <div class="w3-col s4">&nbsp;</div>
        <div class="w3-col s4 w3-center">
            <h3>Thank you for registering our API!</h3>
            <p>Your API key is: {{ apikey }}</p>
        </div>
    </div>
{% endblock %}