{% extends "layout.twig" %}
{% block title %}Registration Failure{% endblock %}
{% block body %}
    <div class="w3-row">
        <div class="w3-col s4">&nbsp;</div>
        <div class="w3-col s4 w3-center">
            <h3>Unable to create API Key</h3>
            <p>Sorry, we were not able to create an API key.</p>
        </div>
    </div>
{% endblock %}